{{ define "table-head.html" }}


<script type="text/javascript" src="/public/js/jquery.min.js"></script>

<script type="text/javascript" src="/public/js/popper.min.js"></script>
<script  src="/public/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" href="/public/js/jconfirm/jquery-confirm.min.css"> -->
<!--     <script src="/public/js/jconfirm/jquery-confirm.min.js"></script>-->
<script  type="text/javascript" src="/public/js/main.min.js"></script>

<link defer href="/public/css/bootstrap.min.css" rel="stylesheet">
<link defer href="/public/css/materialdesignicons.min.css" rel="stylesheet">
<script defer src="/static/js/jq.js"></script>
<link defer href="/public/css/style.min.css" rel="stylesheet">



<script defer src="/public/js/bootstrap-notify.min.js"></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>


<!--<link defer rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />-->


<!--<script defer src="https://www.layuicdn.com/layui/layui.js"></script>-->




{{ end }}