{{ define "personSearch.html" }}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ block "table-head.html" . }}

    {{ end }}

    <style>
        .pagination .page-item {
            cursor: pointer;
        }
    </style>
</head>

<body>
{{ $map := .res }}
{{ $page := .page }}
<!--总页数-->
{{ $totalPage := $map.TotalPage }}
{{ $size := .size }}
{{ $list := $map.Result }}
<!--订单ID-->
{{ $orderId := .search.OrderId }}
<!--路线ID-->
{{ $travelPathId := .search.TravelPathId }}
<!--旅游团ID-->
{{ $travelDetailId := .search.TravelDetailId }}
<!--用户名-->
{{ $personName := .search.PersonName }}

<!--<main class="lyear-layout-content">-->

<div class="container-fluid p-t-15">

    <div class="row">

        <div class="col-lg-12">
            <section class="card">
                <div class="card-toolbar d-flex flex-column flex-md-row">
                    <form id="search_" class="search-bar ml-md-auto" method="get" action="#!" role="form">
                        <div class="input-group form-group ml-md-auto">
                            <input type="text" class="form-control" name="orderId" placeholder="订单ID"
                                   value="{{ $orderId  | nonZero}}">
                        </div>
                        <div class="input-group form-group ml-md-auto">
                            <input type="text" class="form-control" name="travelPathId"
                                   placeholder="请输入旅游路线ID " value="{{ $travelPathId |nonZero }}">
                        </div>
                        <div class="input-group form-group ml-md-auto">
                            <input type="text" class="form-control" name="travelDetailId"
                                   placeholder="请输入旅游团ID: 精确查找" value="{{ $travelDetailId | nonZero }}">
                        </div>
                        <div class="input-group form-group ml-md-auto">
                            <input type="text" class="form-control" name="personName"
                                   placeholder="用户名字" value="{{ $personName  }}">
                        </div>
                    </form>
                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>用户ID</th>
                                <th>用户名字</th>
                                <th>邮箱</th>
                                <td>电话</td>
                                <td>地址</td>
<!--                                <td>操作</td>-->
                                <td>订单ID</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            {{ range $i,$v := $list }}
                            <tr>
                                <!--begin-->
                                <td>{{ $v.PersonId }}</td>
                                <td>{{ $v.PersonName }}</td>
                                <td>{{ $v.Email }}</td>
                                <td>{{$v.Phone}}</td>
                                <td>{{ $v.PersonAddress }}</td>
                                <td>{{ $v.OrderId }}</td>

                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-default _edit js-create-tab" href="#" title=""
                                           data-toggle="tooltip" data-original-title="编辑"
                                           data-id="{{ $v.OrderId }}" data-title="编辑_{{ $v.OrderId }}"
                                           data-url="/person_info/edit?orderId={{ $v.OrderId }}"><i
                                                class="mdi mdi-pencil"></i></a>

<!--                                        <a class="btn btn-xs btn-default _look js-create-tab" href="#preview"-->
<!--                                           title="" data-toggle="tooltip" data-original-title="查看"-->
<!--                                           data-id="{{ $v.OrderId }}" data-title="预览_{{ $v.OrderId }}"-->
<!--                                           data-url="/order/preview?id={{ $v.OrderId }}"><i-->
<!--                                                class="mdi mdi-eye"></i></a>-->

<!--                                        <a class="btn btn-xs btn-default _del" data-id="{{ $v.OrderId }}"-->
<!--                                           href="#!/delete" title="" data-toggle="tooltip"-->
<!--                                           data-original-title="删除"><i class="mdi mdi-window-close"></i></a>-->
                                    </div>
                                </td>

                                <!--end-->
                                {{ end }}

                            </tbody>
                        </table>

                    </div>
                    <ul class="pagination">
                        <li class="active  page-item" href="#1" data-page="1"><a>1</a></li>
                    </ul>

<!--                    <script>-->
<!--                        $(document).ready(function () {-->
<!--                            $('body').delegate('table ._del', 'click', function () {-->
<!--                                const id = $(this).data('id')-->
<!--                                console.log(id)-->

<!--                                $.confirm({-->
<!--                                    content: "是否删除订单",-->
<!--                                    title: "危险操作",-->
<!--                                    buttons: {-->
<!--                                        yes: {-->
<!--                                            text: "删除",-->
<!--                                            btnClass: 'btn-red',-->
<!--                                            action: function () {-->
<!--                                                $.Request({-->
<!--                                                    method: 'POST',-->
<!--                                                    url: `/order/delete?id=${id}`,-->
<!--                                                    success: function (res) {-->
<!--                                                        if (res.code == 200) {-->
<!--                                                            $.alert("删除成功")-->
<!--                                                            let orderId = $('[name=orderId]').eq(0).val() || ''-->
<!--                                                            let travelPathId = $('[name=travelPathId]').eq(0).val() || ''-->
<!--                                                            let travelDetailId = $('[name=travelDetailId]').eq(0).val() || ''-->
<!--                                                            window.location.href = `/order_table?page=${page}&orderId=${orderId}&travelPathId=${travelPathId}&travelDetailId=${travelDetailId}`-->
<!--                                                        } else {-->
<!--                                                            $.alert("删除异常")-->
<!--                                                        }-->
<!--                                                    }-->
<!--                                                })-->
<!--                                            },-->
<!--                                            error: function () {-->
<!--                                                $.alert("删除失败，网络断线了")-->

<!--                                            }-->
<!--                                        },-->
<!--                                        no: {-->
<!--                                            action: function () {-->
<!--                                                // $.alert("取消删除")-->
<!--                                            }-->
<!--                                        }-->
<!--                                    }-->
<!--                                })-->
<!--                            })-->
<!--                        })-->
<!--                    </script>-->
                    <script>
                        $(document).ready(function () {
                            $.renderPage({{ $page }},
                            {{ $totalPage }},
                            null)
                        });

                    </script>
                    <script>

                        $('.pagination').delegate('.page-item', 'click', function () {
                            let orderId = $('[name=orderId]').eq(0).val() || ''
                            let travelPathId = $('[name=travelPathId]').eq(0).val() || ''
                            let travelDetailId = $('[name=travelDetailId]').eq(0).val() || ''

                            const personName = $('[name=personName]').val()||''


                            const page = $(this).data('page') || '1';
                            window.location.href = `/person_info/tables?page=${page}&orderId=${orderId}&travelPathId=${travelPathId}&travelDetailId=${travelDetailId}&personName=${personName}`
                            // window.location.href = `/order_table?page=${page}&orderId=${orderId}&travelPathId=${travelPathId}&travelDetailId=${travelDetailId}`
                        })


                    </script>

                    <script>
                        function search_() {
                            // console.log(111)
                            let orderId = $('[name=orderId]').eq(0).val() || ''
                            let travelPathId = $('[name=travelPathId]').eq(0).val() || ''
                            let travelDetailId = $('[name=travelDetailId]').eq(0).val() || ''
                            let page = {{ $page }}
                            const personName = $('[name=personName]').val()||''


                            window.location.href = `/person_info/tables?page=${page}&orderId=${orderId}&travelPathId=${travelPathId}&travelDetailId=${travelDetailId}&personName=${personName}`
                        }

                        $('#search_ input').on('keyup', function (e) {
                            e.preventDefault()
                            if (e.keyCode == 13) {
                                search_()
                            }
                        })
                    </script>


                </div>
            </section>
        </div>
    </div>
</div>
<!--</main>-->


<script>
    console.log(window.location.href)
    $('table .custom-switch input').each(function () {
        let checked = $(this).data('checked');
        $(this).prop('checked', checked)
    });
    $('table .custom-switch input').on('change', function () {
        var payStatus = $(this).prop('checked') || false
        // payStatus = payStatus + ''
        console.log(payStatus)
        $.Request({
            url: '/update_order',
            method: 'POST',
            data: {
                payStatus: payStatus,
                orderId: $(this).data('id')
            },
            success: function (res) {
                if (res.code == 200) {
                    $.notify({
                        message: '更新成功'
                    })
                } else {
                    $.notify({
                        message: '更新失败'
                    }, {
                        type: 'danger'
                    })
                }
            },
            error: function () {
                $.notify({
                    message: '更新失败'
                }, {
                    type: 'danger'
                })
            }
        })
    })
</script>




</body>

</html>

{{ end }}